@import '../../variables.scss';

.col{
    @include flex();
    width: 19%;
    min-width: 230px;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d9dbe0;
    border-radius: 3px;
}

.colHeader{
    @include flex();
    width: 100%;
    margin-bottom: 10px;
}

.colTitle{
    text-transform: capitalize;
    text-align: start;
    font-size: 20px;
}

.colEmpty{
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin: 10px 0 15px 0;
}

.colAdd{
    width: 100%;
    padding: 3px 0;
    cursor: pointer;
}

@media (max-width: 450px) {
    .col{
        width: calc(100vw - 50px);
    }
}