$rojo: #d63737;
$backgroundColor: #1e8fff;

@mixin flex($vertical: flex-start, $horizontal: flex-start){
	position: relative;
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
	align-content: $vertical;
	flex-wrap: wrap;
}